.bill-header {
    background-color: var(--bs-gray-100);
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.bill-header:hover {
    background-color: var(--bs-gray-200);
    transition: 200ms ease-in-out;
}

.bill-body-container {
    overflow: hidden;
}

.bill-body-hidden {
    max-height: 0px;
    transition: 200ms ease-in-out;
}

.bill-body-shown {
    max-height: 800px;
    transition: 800ms ease-in-out;
}

.date-in-title {
    font-weight: lighter;
    font-size: smaller;

    opacity: 0;
    transition: 200ms ease-in-out;
}

.date-in-title-hidden {
    opacity: 1;
    transition: 200ms ease-in-out;
    transition-delay: 300ms;
}

.tenant-paid {
    box-shadow: 0px 1px 5px 3px var(--bs-green);
    opacity: .5;
    transition: 200ms ease-in;
}

.tenant-did-not-pay {
    box-shadow: 0px 1px 5px 3px var(--bs-red);
    transition: 200ms ease-in;
}

.tenant-bill-record {
    cursor: pointer;
}